<h3>Bookings</h3>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>Arrival Date</th>
                <th>Departure Date</th>
                <th>PropteryID</th>
                <th>UserID</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-row" *ngFor="let book of bookings">
                <td>{{book.id}}</td>
                <td>{{book.dateTo}}</td>
                <td>{{book.dateFrom}}</td>
                <td>{{book.propertyID}}</td>
                <td>{{book.userID}}</td>
            </tr>
        </tbody>
    </table>
</div>